<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>$title$ - Ross Ogilvie</title>
  <link rel="stylesheet" type="text/css" href="/posts/css/default.css" />
  $mathjax$
</head>

<body>
  <div id="header">
    <div id="navigation">
      <a href="http://rossogilvie.id.au">Front</a>
      <a href="/posts">Index</a>
    </div>
  </div>

  <div id="content">
    <h1>$title$</h1> 
    $body$
  </div>

$partial("templates/footer.html")$
</body>

</html>
