body {
    margin: 0 auto;
    font-family: Verdana;
    padding: 2em;
}

h1, h2 {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}

a, a:visited {
    color: black;
}

/* Specific block types; easier than writing <div class=" .... "> */

loj
{
	background-color: lightyellow;

	margin: 1em;
	display: block;
}

ross
{
	background-color: palegreen;

	margin: 1em;
	display: block;
}

psuedo
{
	background-color: lightpink;

	margin: 1em;
	display: block;
}

define
{
	background-color: lightcyan;

	margin: 1em;
	display: block;
}

eng
{
	background-color: lightgrey;

	margin: 1em;
	display: block;
}
